# Токен бота от @BotFather
BOT_TOKEN=8688164661:AAHuGST5m1iEOUJMCJatiB5P0WKS3Y0TpBI
# ID администратора (твой Telegram ID)
ADMIN_ID=448432365

# Задержка между проверками в секундах (рекомендуется 300-600)
CHECK_INTERVAL=300
