# Токен бота от @BotFather
BOT_TOKEN=AAE-w9I7p0M7dPh3p4qBprlpq85f1a8p1ZE
# ID администратора (твой Telegram ID)
ADMIN_ID=448432365

# Задержка между проверками в секундах (рекомендуется 300-600)
CHECK_INTERVAL=300
